<?xml version="1.0" encoding="UTF-8"?>
<config isFreePromotion="true" instanceId="26" endpoint="http://theideaserver.com/sxsw/public/placeorder.php">
<!-- <config isFreePromotion="true" instanceId="26" endpoint="http://clients.velloff.com/SapientApp/public/placeorder.php"> -->
	<homeCarouselImages>
		<image source="assets/homeCarouselImages/home_1.jpg" />
		<image source="assets/homeCarouselImages/home_2.jpg" />
		<image source="assets/homeCarouselImages/home_3.jpg" allowsSubmission="525,236,125,125"/>
	</homeCarouselImages>

	<MenuCategory>
		<name><![CDATA[Sandwiches]]></name>
		
		<MenuSubCategory>
			<name><![CDATA[Deli Sandwiches]]></name>
			
			<MenuItem itemPrice="0.00" heroSource="assets/menuItemCarouselImages/Sub_SpringBreak.jpg">
				<name><![CDATA[Spring Break]]></name>
				
				<MenuItemOption default="true">
					<name><![CDATA[Smoked Turkey]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Swiss]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Bacon]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Lettuce]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Tomato]]></name>
				</MenuItemOption>
				<MenuItemOption addlCost="0.00">
					<name><![CDATA[Ranch Dressing]]></name>
				</MenuItemOption>
				
				<!-- The size options component is static (due to design), 6 and 12 inches buttons -->
				<MenuItemOption sizeUpgradeOption="true" addlCost="0.00">
					<name><![CDATA[Upgrade to 12 inch sandwich]]></name>
				</MenuItemOption>
				
				<!-- Optional items, not active by default -->
				<MenuItemOption addlCost="0.00">
					<name><![CDATA[Roast beef]]></name>
				</MenuItemOption>
				<MenuItemOption addlCost=".00">
					<name><![CDATA[Cheddar]]></name>
				</MenuItemOption>
				<MenuItemOption addlCost=".00">
					<name><![CDATA[Provolone]]></name>
				</MenuItemOption>
				<MenuItemOption>
					<name><![CDATA[Mustard]]></name>
				</MenuItemOption>
				<MenuItemOption>
					<name><![CDATA[Mayo]]></name>
				</MenuItemOption>
				<MenuItemOption>
					<name><![CDATA[Vinegar]]></name>
				</MenuItemOption>
			</MenuItem>
			
			<MenuItem itemPrice="0" heroSource="assets/menuItemCarouselImages/Sub_Detention.jpg">
				<name><![CDATA[Detention]]></name>
				
				<MenuItemOption  default="true">
					<name><![CDATA[Roast Beef]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Provolone]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Onions]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Red Peppers]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Green Peppers]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Mushroom]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Mayo]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Oil]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Vinegar]]></name>
				</MenuItemOption>
				
				<!-- The size options component is static (due to design), 6 and 12 inches buttons -->
				<MenuItemOption sizeUpgradeOption="true" addlCost="0.00">
					<name><![CDATA[Upgrade to 12 inch sandwich]]></name>
				</MenuItemOption>
			</MenuItem>
			
		</MenuSubCategory>
		
		<MenuSubCategory>
			<name><![CDATA[Veggie Sandwiches]]></name>
			<MenuItem itemPrice="0" heroSource="assets/menuItemCarouselImages/Sub_Librarian.jpg">
				<name><![CDATA[The Librarian]]></name>
				
				<MenuItemOption  default="true">
					<name><![CDATA[Cream Cheese]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Mozzarella]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Cheddar]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Swiss]]></name>
				</MenuItemOption>
				<MenuItemOption default="true">
					<name><![CDATA[Tomato]]></name>
				</MenuItemOption>
				
				<!-- The size options component is static (due to design), 6 and 12 inches buttons -->
				<MenuItemOption sizeUpgradeOption="true" addlCost="0.00">
					<name><![CDATA[Upgrade to 12 inch sandwich]]></name>
				</MenuItemOption>
				
				<!-- Optional items, not active by default -->
				<MenuItemOption>
					<name><![CDATA[Mushroom]]></name>
				</MenuItemOption>
				<MenuItemOption>
					<name><![CDATA[Mayo]]></name>
				</MenuItemOption>
				<MenuItemOption>
					<name><![CDATA[Oil]]></name>
				</MenuItemOption>
				<MenuItemOption>
					<name><![CDATA[Vinegar]]></name>
				</MenuItemOption>
			</MenuItem>
		</MenuSubCategory>
		
	</MenuCategory>
	
	<MenuCategory heroSource="assets/menuItemCarouselImages/chips.jpg">
		<name><![CDATA[Sides]]></name>
		
		<MenuSubCategory>
			<name><![CDATA[Miss Vickie's Kettle Chips]]></name>
			
			<MenuItem itemPrice=".00">
				<name><![CDATA[Jalapeno]]></name>
			</MenuItem>
			<MenuItem itemPrice=".00">
				<name><![CDATA[Simply Sea Salt]]></name>
			</MenuItem>
			<MenuItem itemPrice=".00">
				<name><![CDATA[Smokehouse BBQ]]></name>
			</MenuItem>
			<MenuItem itemPrice=".00">
				<name><![CDATA[Salt & Vinegar]]></name>
			</MenuItem>
		</MenuSubCategory>
	</MenuCategory>
	
	<MenuCategory heroSource="assets/menuItemCarouselImages/drinks.jpg">
		<name><![CDATA[Drinks]]></name>
		
		<MenuSubCategory>
			<name><![CDATA[Specialty]]></name>
			
			<MenuItem itemPrice="0">
				<name><![CDATA[Dublin Dr. Pepper]]></name>
			</MenuItem>
			<MenuItem itemPrice="0">
				<name><![CDATA[Mexican Coke]]></name>
			</MenuItem>
			<MenuItem itemPrice="0">
				<name><![CDATA[Sweet Leaf Tea]]></name>
			</MenuItem>
		</MenuSubCategory>
		<MenuSubCategory>
			<name><![CDATA[Other]]></name>
			
			<MenuItem itemPrice="0">
				<name><![CDATA[Water]]></name>
			</MenuItem>
			<MenuItem itemPrice="0">
				<name><![CDATA[Lemonade]]></name>
			</MenuItem>
			<MenuItem itemPrice="0">
				<name><![CDATA[Diet Coke]]></name>
			</MenuItem>
		</MenuSubCategory>
	</MenuCategory>
</config>